.title {
  h1,
  h3 {
    font-family: monospace;
    font-weight: 600;
  }

  h1 {
    font-size: 3rem;
    // text-decoration: underline;
  }

  width: 150px;
  height: 150px;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;

  text-align: center;
  position: absolute;

  overflow: hidden;
}

.score {
  position: absolute;
  right: 25px;
  top: 0;
}
