.greetingBubble {
  width: 150px;
  height: 150px;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem;

  margin-top: 2rem;

  // ! keep to see if needed
  // position: absolute;
  // overflow: hidden;
}
